.ipynb_checkpoints/
cache/
models/*
notebooks/.ipynb_checkpoints/
notebooks/__pycache__/
notebooks/cache/*
notebooks/wandb/
data/
notebooks/.tmp*
notebooks/models/*
notebooks/*pickle
notebooks/*feather
